<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <h1>form submission</h1>
    <form action="/getdata" method="post" >
        <input  
        name="username"
        >
        <input 
        type="email"
        placeholder="enter your email"
        name="emaill">
        <input 
        type="password"
        placeholder="enter your password"
        name="pswd">
        <button>submit</button>
    </form>
</body>
</html>